@import '../../style/maincolors.scss';
.main {
  position: absolute;
  right: 9%;
  top: -9%;
  width: 45%;
  height: 100%;

  span {
    // color: $green-color;
    user-select: none;
    font-size: 14px;
    font-weight: bold;
    // text-shadow: 0.15px 0.15px  $text-color;
    background: $gradient-color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.15px  white;
  }
}
