@import '../../style/maincolors.scss';
.main {
  position: absolute;
  right: 0;
  top: 3%;
  width: 58%;
  height: auto;
  // box-sizing: border-box;
  overflow: hidden;
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    // color: $green-color;
    user-select: none;
    font-size: 14px;
    font-weight: bold;
    // text-shadow: 0.15px 0.15px  $text-color;
    background: $gradient-color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.15px  white;
  }
}


