@import '../../style/maincolors.scss'; 
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.topTags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: $primary-color;
  opacity: 0.6;
  position: absolute;
  bottom: 25px;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
  user-select: none;
}

.bottomTagHtml {
  bottom: 0px;
  margin-left: -25px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.container.aboutPage,
.container.contactPage,
.container.skillsPage {
  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: $primary-color;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    user-select: none;

    a {
      text-decoration: none;
      // font-style: italic;
      font-weight: 100;
      text-align: center;
      padding: 0 0 10px 0;

      p {
        padding: 0 10px;
        color: $text-color;
        padding: 0 0 10px 15px;
        user-select: none;

        svg {
          color: $text-color;
          padding-right: 5px;
        }
      }
    }

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: $primary-color;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: $primary-color;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  p {
    font-size: 13px;
    color: $text-active;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;
    user-select: none;

    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
    &:nth-of-type(4) {
      animation-delay: 1.4s;
    }
    &:nth-of-type(5) {
      animation-delay: 1.5s;
    }

    span{
      color: $primary-color;
    }
    a{
      color: $green-color;
      text-decoration: none;
      transition: all .1s ease-in-out;
      
      &:hover{
        text-decoration: dashed;
        color: $primary-color;
        transition: all .1s ease-in-out;
      }
    }
  }

  .textZone {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: $text-active;
    }
  }
}

// responsive
@media screen and (max-width: 1200px){
  body{
    overflow-x: hidden;
  }
  .page{
    position: initial;
  }

  .container{
    position: initial;
    height: auto;
    min-height: auto;
    padding: 90px 20px 0 20px;
  }
}