@import '../../style/maincolors.scss';
.contact-form {
  width: 100%;
  margin-top: 20px;
  z-index: 4;
  // background: $gradient-color;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: $green-color;
    height: 50px;
    font-size: 16px;
    color: $text-active;
    padding: 0 20px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border: 2px solid rgba($color: $text-active, $alpha: 1);
    }
  }
  textarea {
    width: 100%;
    border: 0;
    background: $green-color;
    height: 50px;
    font-size: 16px;
    color: $text-active;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;

    &:focus {
      outline: none;
      border: 2px solid rgba($color: $text-active, $alpha: 1);
    }
  }

  .flat-button {
    color: $text-active;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 12px 27px;
    border: 1px solid $green-hover-color;
    float: left;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    z-index: 5;
    background-size: 200% auto;

    &:hover {
      background: $green-color;
      color: $text-active;
      transition: all 0.3s ease-out;
      transform: translateY(-2px);
    }
  }
}

// responsive
@media screen and (max-width: 1200px) {
  .tags,
  .contactPage h1::after,
  .contactPage h1::before{
    display: none;
  }

  .container.contactPage{
    display: flex;
    flex-wrap: wrap;
    .textZone {
      position: initial;
      width: 100%;
      transform: none;
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 0;

      h1 {
        font-size: 46px;
        position: initial;
      }
      p{
        color: $text-active;
        background-image: linear-gradient(to right, $background-color, rgba(255, 255, 255, 0));
      }
    }
    .shapeZone{
      top: 400px;
      // bottom: 0;
      width: 100%;
      right: 0;
      // transform: translate(100px, -50px);
    }
  }
}

// .container.contactPage {
//   .animateContactZone {
//     position: absolute;
//     right: 10%;
//     top: 5%;
//     opacity: 0;
//     animation: fadeInRight 1s 1.5s forwards;

//     div {
//       // opacity: 0.5;
//       padding: 40px;
//       // overflow: hidden;
//       width: 100%;
//       font-weight: bold;
//       line-height: 0.8;
//       text-align: left;
//       font-size: 3rem;
//       color: $text-active;
//       font-family: 'Georgia';
//       text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
//       animation-name: animateShadow;
//       animation-duration: 1s;
//       animation-iteration-count: infinite;

//       span {
//         font-size: 80px;
//       }
//     }

//     @function makelongshadow($color, $color2, $color3, $color4, $color5) {
//       $val: 0px 0px $color;
//       @for $i from 1 through 20 {
//         $val: #{$val}, -#{$i}px #{$i}px #{$color};
//       }
//       @for $i from 21 through 40 {
//         $val: #{$val}, -#{$i}px #{$i}px #{$color2};
//       }
//       @for $i from 41 through 60 {
//         $val: #{$val}, -#{$i}px #{$i}px #{$color3};
//       }
//       @for $i from 61 through 80 {
//         $val: #{$val}, -#{$i}px #{$i}px #{$color4};
//       }
//       @for $i from 81 through 100 {
//         $val: #{$val}, -#{$i}px #{$i}px #{$color5};
//       }
//       @return $val;
//     }

//     @keyframes animateShadow {
//       0% {
//         text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
//       }
//       20% {
//         text-shadow: makelongshadow($color2, $color3, $color4, $color5, $color);
//       }
//       40% {
//         text-shadow: makelongshadow($color3, $color4, $color5, $color, $color2);
//       }
//       60% {
//         text-shadow: makelongshadow($color4, $color5, $color, $color2, $color3);
//       }
//       80% {
//         text-shadow: makelongshadow($color5, $color, $color2, $color3, $color4);
//       }
//       100% {
//         text-shadow: makelongshadow($color, $color2, $color3, $color4, $color5);
//       }
//     }
//   }
// }

// .map-wrap {
//   background: rgba(8, 253, 216, 0.1);
//   float: right;
//   width: 53%;
//   height: 115%;
//   margin-top: -3%;
// }

// .leaflet-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   animation: backInRight 1s 1.2s;
//   animation-fill-mode: forwards;
// }

// .info-map {
//   position: absolute;
//   background: #000;
//   top: 50px;
//   right: 30%;
//   z-index: 999999;
//   width: 267px;
//   padding: 20px;
//   color: $text-active;
//   font-family: 'Helvetica';
//   font-size: 17px;
//   font-weight: 300;
//   opacity: 0;
//   animation: fadeIn 1s 1.5s;
//   animation-fill-mode: forwards;

//   span {
//     font-size: 16px;

//     span {
//       color: $primary-color;
//     }
//   }
// }
