$primary-color: rgb(93, 255, 152);
// $primary-color: #3ba2ff;
$green-hover-color: rgb(139, 255, 183);
$green-color: rgb(40, 209, 131);
$gradient-color: linear-gradient(to left, rgb(3, 112, 191), $green-color);
$background-color: rgb(0, 0, 0);
$gray-color: rgb(21, 21, 21);
$text-active: rgb(255, 255, 255);
$text-color: rgb(172, 172, 172);
$a03out: all 0.3s ease-in-out;
