@import '../../style/maincolors.scss';

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.animatedZone {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -2%;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    transition: all 3s ease-in-out;
    animation: fadeIn 1s 1s forwards;
}
